.introText {
    text-align: center;
}

.centerLogo {
    display: block;
    margin: auto;
    width: 5rem;
    height: 5rem;
}

.form-control{
    width: inherit;
    margin: auto ;
}

.btn-primary {
    background-color: #BDE3FF;
    color: black;
    border-color: #95b3c9;
}