<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <img src="angular-frontend\src\logo.png">
        </div>
        <div class="col-sm-4">
        </div>
    </div>
</div>

<!-- <div>
    <input type="file" (change)="onSelectedFile($event)">
</div>
<button (click)="uploadFile()">Upload</button>

<div>
    @if (results) {
        <h1>Scan Results</h1>
        <ul>
            @for (result of results; track results.resultName) {
                <li>
                    {{ result.packageName }}: {{ result.threatLevel }}
                </li>
            } @empty {
                <p>Please upload a file.</p>
            }
        </ul>
    }
</div> -->