<div class="container-fluid text-center" id="package-container">
    <div class="row align-items-start">
        <div class="col-sm-12 mt-4">
            <h1 class="mb-3">File Scanning Service</h1>
            <p>Please choose a file using the form below:</p>
            <form (submit)="onUploadFile($event)" enctype="multipart/form-data">
                <input type="file" class="form-control" (change)="onUploadFileSelected($event)">
                <br>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
            <p class="mt-3">
                <small class="text-body-secondary">Please remember to choose a requirements.txt file.</small>
            </p>
        </div>
    </div>
</div>
